{% extends 'RealEstate/base.html' %}
{% load static %}

{% block title %}
home
{% endblock %}

{% block cover %} 
<div id="cover_home"></div>
{% endblock %}

{% block content %}
<div id="main_section_home">
    <h1>find your <br> dreams</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo minima est, incidunt reiciendis aperiam rem? Iusto, ab omnis corrupti cumque asperiores magni ducimus nobis. Earum, necessitatibus quod! Quis, dolorum!</p>
    <a href="#">explore properties</a>
</div>
{% endblock %}