@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    font-family: Phudu;
}

body {
    margin: 0px;
    padding: 0px;
}

#cover_home{
    margin: 0px;
    padding: 0px;
    background-image: url("/static/image/skyscraper.jpeg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;    
}

#cover_contact{
    margin: 0px;
    padding: 0px;
    background-image: url("/static/image/email.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
}

#cover_properties{
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    position: absolute;
    width: 100%;
    height: 150vh;
}

#main {
    position: sticky;
    top: 2rem;
    padding: 2rem 15rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#left_nav a{
    font-size: 30px;
    color: black;
    text-decoration: none;
}

#middle_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: white;
    padding: 18px 50px;
    border-radius: 5rem;
}

#middle_nav a{
    text-decoration: none;
    color: black;
}

#right_nav {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    text-align: center;
}

#sign_up {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#main_section_home {
    padding: 6rem 0rem;
    margin: 0;
}

#main_section_home h1{
    margin: 0;
    font-size: 5rem;
}

#main_section_home p{
    margin-bottom: 30px;
}

#main_section_home a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 3rem;
    padding: 10px 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 0px;
}

#footers{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: white;
    padding: 8px 50px;
    border-radius: 5rem;
}

#footers a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 10px;
}

#container_card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.card{
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img{
    width: 100%;
    height: 70%;
}

.card_content{
    padding: 16px;
}

.card_content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

#main_section_contact{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 200px;
    justify-content: space-between;
}

